<!DOCTYPE html>
<html>
  <head>
    <!--<title><%= title %></title>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
   <%- include head %>
   <div class="right">
     <p>主页</p>
     <% if (success) { %>
      <div><%= success %></div>
     <% } %>


     <% posts.forEach(function (post, index) { %>
     <p> <%= post.title %></p>
    <p> <%= post.name %></p>
    <% }) %>
     </div>
    
    <!--<a href="/login">登录</a>
    <br/>
     <a href="/reg">注册</a>
     <br/>
     <a href="/post">修改</a>
     <br/>
     <a href="/ask">删除</a>-->
  </body>
</html>
